@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

:root{
    --font: 'Combo', cursive;
    --brown: #211915;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100vw;
    max-height: 100vh;
    font-family: var(--font);
}

a{
    text-decoration: none;
}

a:visited{
    color: var(--brown);
}

a:hover{
    color: rgba(221, 134, 20, 0.85);
}

a:active{
    color: rgb(17,164,184);
}


/*? Header */
/** General para todas las páginas **/
.banner{
    max-height: 20em;
    margin-bottom: 0.2em;
}

.img-container{
    width: 100%;
    height: 20em;
    position: relative;
    background-color: rgba(161, 158, 95, 0.85);
    background-image: url("../img/design1_image2.jpg");
    background-repeat: no-repeat;
    background-position-y: 40%;
    background-size: cover;
    opacity: 0.80;
}

.title{
    position: absolute;
    top: 0;
    left: 0;
    color: var(--brown);
}

.title > h1{
    font-size: 5em;
    padding-left: 0.5em;
    /* animation: animate__pulse 5s ease infinite alternate; */
}

.container-subtitle{
    max-height: 5em;
    text-align: center;
    margin-bottom: 5em;
    
}

.subtitle{
    width: 100%;
    position: relative;
    background-color: black;
}

.subtitle h2{
    font-size: 2em;
    color: white;
}

.logo{
    position: absolute;
    right: 9%;
    top: 45%;
    color: var(--brown);
}

.logo img{
    width: 100px;
}
/*? Fin Header */


/*? Main */
/** General **/
.info{
    display: flex;
    gap: 6em;
}

.navbar{
    display: flex;
    flex-direction: column;
    gap: 3.3em;
    padding-left: 1em;
}

.navbar a{
    color: blue;
}

.navbar a:focus{
    color: black;
}

/** About MDHL **/
.definicion_evento{
    margin-bottom: 1.5em;
    padding-left: 1em;
}

.termino{
    font-weight: bold;
}

.sangria{
    padding-left: 1em;
}

.definicion{
    margin-bottom: 1.5em;
}

.definition{
    width: 85%;
}

/** Contact **/
.text{
    margin-top: 1em;
}
/*? Fin Main */